<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到FlaskBlog</title>
</head>
<body>
<div>
    {#如果想要传需要参加上name属性#}
    <form action="/index1" method="get">
        <p><input type="text" name="username" placeholder="请输入用户名"></p>
        <p><input type="text" name="password" placeholder="请输入密码"></p>
        <p><input type="submit" value="提交"></p>
    </form>
        <form action="/index2" method="post">
        <p><input type="text" name="username" placeholder="请输入用户名"></p>
        <p><input type="text" name="password" placeholder="请输入密码"></p>
        <p><input type="submit" value="提交"></p>
    </form>
</div>
</body>
</html>